.container {
   background-color: #BCDDFF;
   width: 100%;
   height: 100vh;
}

.containerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 900;
}

.containerHeader h1 {
   font-size: 20px;
   margin-top: 10px;
   font-family: sans-serif;
}

.secondHeader {
   width: 50%;
   margin: 4% auto;
   display: grid;
   grid-template-columns: 1fr auto;
}

.secondHeader h1 {
   font-size: 20px;
   font-family: sans-serif;
}

.secondHeader h1:nth-child(1) {
   color: green;
}

.secondHeader h1:nth-child(2) {
   color: orange;
}

.chatContainer {
   width: 30%;
   margin: -2% auto;
   background-color: #fff;
   height: 70vh;
   overflow-y: scroll;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.chats {
   margin: 30px;
   padding: 10px;
}

.questionChatContainer {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
}

.questionChatContainer span {
   font-size: 12px;
}

.questionChatContainer em {
   font-size: 10px;
   margin-top: 2px;
}

.questionChatContainer h1 {
   font-size: 12px;
   background-color: orange;
   color: #fff;
   font-weight: 100;
   padding: 10px;
   border-radius: 10px;
   width: auto;
   height: 100%;
}

.answerChatContainer {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   flex-direction: column;
}

.answerChatContainer span {
   font-size: 10px;
   display: flex;
}


.answerChatContainer em {
   font-size: 10px;
   margin-top: 2px;
}

.answerChatContainer h1 {
   font-size: 12px;
   background-color: #BCDDFF;
   color: #000;
   font-weight: 100;
   padding: 10px;
   border-radius: 10px;
   width: auto;
   height: 100%;
}

@media (max-width:700px) {
   .containerHeader h1 {
      font-size: 16px;
   }

   .secondHeader h1 {
      font-size: 15px;
   }

   .secondHeader {
      width: 100%;
      padding: 10px;
   }

   .chatContainer {
      width: 95%;
      height: 70vh;
   }

   .chats{
      padding: 0;
   }
}