.container{
   width: 100%;
   height: 100%;
}

.containerHeader{
   padding: 50px;
   background-color: #2D3092;
   display: flex;
   justify-content: center;
   align-items: center;
}

.containerHeader h1{
   font-size: 25px;
   color: #fff;
   font-family: sans-serif;
}

.containerItems{
   width: 60%;
   margin: 2% auto;
}

.itemHeader{
   display: flex;
   justify-content: center;
   align-items: center;
}


.imageContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
}


.itemHeader h1{
   font-size: 20px;
}

.itemDescription{
   width: 60%;
   margin: 1% auto;
   overflow-x: auto;
   word-wrap: break-word;
   white-space: pre-wrap;
   text-align: left;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: left;
}


.itemAction{
   margin-top: 7%;
}

.itemAction p{
   font-family: cursive;
   color: #2D3092;
}

.itemAction h1{
   font-size: 15px;
}

.pythonCodeContainer {
   overflow-x: auto; /* Enable horizontal scrolling */
   word-wrap: break-word; /* Break long words */
   white-space: pre-wrap; /* Preserve formatting */
   max-width: auto;
 }
 
 .pagination{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .pagination button{
   padding: 15px;
   margin: 15px;
   width: 100px;
   border-radius: 10px;
   background-color: dodgerblue;
   border: none;
   color: #fff;
 }

@media (max-width:700px){
   .containerHeader{
      padding: 40px;
   }
   .containerHeader h1{
      font-size: 20px;
   }

   .containerItems{
      width: 95%;
   }

   .itemHeader{
      margin-top: 10%;
   }

   .itemHeader h1{
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
   }

   .itemDescription{
      margin-top: 20px;
      width: 90%;
   }
   .introIcon{
      width: 100%;
      height: 100%;
   }
}